@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/ProductSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/ProductSans-Bold.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Product Sans", sans-serif;
  }
}

.MainGr {
  background: rgb(79, 217, 130);
  background: linear-gradient(
    105deg,
    rgba(79, 217, 130, 1) 28%,
    rgba(26, 156, 75, 1) 87%
  );
}

.MeshGr {
  background-color: hsla(0, 100%, 50%, 1);
  background-image: radial-gradient(
      at 0% 3%,
      hsla(42, 93%, 69%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 46% 17%, hsla(0, 100%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(18, 100%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(18, 100%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 100%, hsla(0, 100%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 84% 75%, hsla(0, 100%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(42, 93%, 69%, 1) 0px, transparent 50%);
}

.MainGr2 {
  background: rgb(235, 249, 230);
  background: linear-gradient(
    188deg,
    rgba(235, 249, 230, 1) 35%,
    rgba(123, 176, 249, 1) 100%
  );
}

.MainGr3 {
  background: rgb(183, 211, 251);
  background: linear-gradient(
    203deg,
    rgba(183, 211, 251, 1) 35%,
    rgba(229, 224, 251, 1) 100%
  );
}

/* Hide scrollbar for Chrome, Safari and Opera */
.Scroll-Hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Scroll-Hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.folderClipPath {
  clip-path: polygon(0 0, 34% 0, 59% 20%, 100% 20%, 100% 100%, 0 100%);
  background-color: #f9f9f9;
}

.folder {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 160px);
  background-color: #fff;
  border-radius: 48px 0px 48px 48px;
  position: relative;
  -webkit-box-shadow: -14px 14px 0px 0px rgba(0, 0, 0);
  -moz-box-shadow: -14px 14px 0px 0px rgba(0, 0, 0);
  box-shadow: -14px 14px 0px 0px rgba(0, 0, 0);
}
.folder::before {
  content: "";
  position: absolute;
  top: -100px;
  right: -2px;
  width: 50%;
  z-index: -1;
  min-height: 100px;
  background-color: #fff;
  border-radius: 36px 36px 0 0;
  border-bottom: 0;
  -webkit-box-shadow: -14px 14px 0px 0px rgba(0, 0, 0);
  -moz-box-shadow: -14px 14px 0px 0px rgba(0, 0, 0);
  box-shadow: -14px 0px 0px 0px rgba(0, 0, 0);
}
.folder::after {
  content: "";
  position: absolute;
  top: -2px;
  width: 49.7%;
  right: 0;
  height: 2px;
  background-color: #fff;
  border-radius: 48px;
}

.folder2 {
  width: 100%;
  height: 100%;
  min-height: 200px;
  background-color: #fff;
  border-radius: 0px 48px 48px 48px;
  position: relative;
  -webkit-box-shadow: -14px -18px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -14px -18px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -14px -18px 0px 0px rgba(0, 0, 0, 0.75);
  background: rgb(250, 209, 106);
  background: linear-gradient(
    90deg,
    rgba(250, 209, 106, 1) 0%,
    rgba(255, 82, 82, 1) 35%,
    rgba(255, 132, 78, 1) 100%
  );
  margin-top: 80px;
  border: 2px solid #000;
}
.folder2::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -2px;
  width: 50%;
  /* z-index: -1; */
  min-height: 50px;
  background-color: #fff;
  border-radius: 24px 28px 0 0;
  border-bottom: 0;
  -webkit-box-shadow: -14px -18px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -14px -18px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -14px -18px 0px 0px rgba(0, 0, 0, 0.75);
  background: rgb(250, 209, 106);
  background: linear-gradient(
    90deg,
    rgba(250, 209, 106, 1) 0%,
    rgba(255, 82, 82, 1) 35%,
    rgba(255, 132, 78, 1) 100%
  );
  border: 2px solid #000;
}
.folder2::after {
  content: "";
  position: absolute;
  top: -2px;
  width: 50%;
  left: 0;
  height: 2px;
  border-radius: 48px;
  background: rgb(250, 209, 106);
  background: linear-gradient(
    90deg,
    rgba(250, 209, 106, 1) 0%,
    rgba(255, 82, 82, 1) 35%,
    rgba(255, 132, 78, 1) 100%
  );
}

.octagon {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}
